@charset "UTF-8";
/* font-family: 'Work Sans', sans-serif; */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

:root {
  --clr-primary: #D86411;
  --clr-font: #fff;
  --font-title: 700;
  --font-text: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  width: 100%;
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  font-size: 1.125rem;
  color: var(--clr-font);
  line-height: 1.6;
}

.header {
  width: 100%;
  height: 8vh;
  position: fixed;
  color: #fff;
  background-color: #181C2848;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

.header img {
  margin-left: 5%;
}

.header .nav {
  width: 50%;
  margin-right: 5%;
}

.header .nav .nav__list {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  width: 100%;
}

.header .nav .nav__list .pagename {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 42px;
}

.home {
  margin: 0;
  width: 100%;
  height: 100vh;
  background-image: url(./../img/5053309.jpg);
  background-position: top;
  background-size: cover;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.home .content {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.home .content h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 86.2041px;
  line-height: 101px;
  margin-left: 5%;
  color: #FFFFFF;
  text-shadow: 0px 5px 7px #000000;
  width: 100%;
}

.home .content h4 {
  font-style: normal;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 28px;
  margin-top: 1%;
  width: 45%;
  margin-left: 9%;
  color: #FFFFFF;
}

.home .home-footer {
  position: absolute;
  bottom: 2%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.home .home-footer .arrows {
  width: 60px;
  height: 72px;
  position: absolute;
  left: 50%;
  margin-left: -30px;
  bottom: 20px;
}

.home .home-footer .arrows path {
  stroke: #ffffff;
  fill: transparent;
  stroke-width: 2px;
  animation: arrow 2s infinite;
  -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes arrow /*Safari and Chrome*/ {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.home .home-footer .arrows path.a1 {
  animation-delay: -1s;
  -webkit-animation-delay: -1s;
  /* Safari 和 Chrome */
}

.home .home-footer .arrows path.a2 {
  animation-delay: -0.5s;
  -webkit-animation-delay: -0.5s;
  /* Safari 和 Chrome */
}

.home .home-footer .arrows path.a3 {
  animation-delay: 0s;
  -webkit-animation-delay: 0s;
  /* Safari 和 Chrome */
}

.about {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  text-align: center;
  color: #000;
  height: 100vh;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  font-family: 'Volkhov', serif;
}

.about .leftContent {
  width: 60%;
  height: 70%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about .leftContent .about__title {
  letter-spacing: 4px;
  text-align: center;
  font-weight: 400;
  font-size: 30px;
  color: #111;
  width: 100%;
}

.about .leftContent .about__para {
  width: 70%;
  margin: 0% 15% 0% 15%;
  text-align: center;
}

.about .rightContent {
  width: 40%;
  height: 100%;
}
/*# sourceMappingURL=style.css.map */